@import 'modules/_buttons';
@import 'modules/_lightbox';
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Josefin+Sans|Source+Sans+Pro&display=swap');
@import 'modules/_footer';

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 12px;;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#13002a), to(#941d00)) fixed;
}

html {
    height: auto;
    width: 100%;
    position: relative;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;
    font-size: 22px;
    text-align: center;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    transform-origin: left;
    transform: translate(25%, 145px) rotate(270deg) ; /* translate first then rotate. */
    color: #9b1b1b;
    margin-left: -15px;
}

 h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
}

h5 {
    font-family: 'Big Shoulders Text', sans-serif;
    font-size: 17px;
    margin-bottom: 5px;
    color: orange;
}

ul li {
    font-family: 'Big Shoulders Text', cursive;
    list-style-type: none;
    font-size: 8px;
    color: #9b1b1b;
    margin-bottom: 12px;
    margin-top: 0px;
    transform-origin: left;
    margin-left: -15px;
}

hr { 
    width: 80vw;
    display: block;
    margin-top: 0;
    margin-bottom: 8px;
    overflow: hidden;
    border-width: 2px;
    background-color: #9b1b1b;
    margin-left: -15px;
}

.header {
    text-align: center;
}

svg {
    top: 0;
    width: 50%;
}

.scale {
    position: relative;
}

.vImage {
    height: 80vh;
    //background: pink; //just testing to see if where this div is
    position: relative;
    display: block;
}

.vImage img {
    width: 50%;
}


@import 'modules/_mediaqueries';