<div class="container">
    <div class="row">
        <section id="section1" class="panel">
            <div class="veiContainer col-lg-12 col-sm-12 mx-auto d-block">
            <!-- this is exactly like a forEach loop with plain JS -->
                {{#each vIndex}}
                    <div class="user-panel">
                      <button class="index-link" href="{{ ID }}"> 
                             <h4>{{ NumberIndex }}</h4>
                        </button> 
                    </div>
                {{/each}}
            </div>
        </section>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="displayArea cl-sm-12 col-lg-12 mx-auto d-flex">
                <h2>Plume Height</h2>
            </div>

            <div class="scale col-md-12 col-lg-12 mx-auto">
                <div>
                <ul class="ml-auto">
                    <hr>
                    <li>&gt;25KM</li>
                    <hr>
                    <li>15KM</li>
                    <hr>
                    <li>5KM</li>
                    <hr>
                    <li>1KM</li>
                    <hr>
                    <li>&lt;100M</li>
                </ul>
                </div>
            </div>
    </div>
</div>


     <!-- this will be filled in on the client side when we render our AJAX data -->
<div class="lightbox container">
    <div class="row">
    </div> 
</div>


