<div class="container">
    <div class="row">
        <section id="section1" class="panel">

            <div class="lightbox container">
                <div class="row">
                    <span>Click any of the index to learn more about each volcanic eruption in history</span>
                <img src="">
                </div> 
            </div>

            <div class="veiContainer col-lg-12 col-sm-12">
            <!-- loop through the movies list and put the info on the page -->
            <!-- this is exactly like a forEach loop with plain JS -->
                {{#each vIndex}}
                    <div class="user-panel">
                      <button class="index-link" href="{{ ID }}"> 
                             <h4>{{ NumberIndex }}</h4>
                        </button> 
                    </div>
                {{/each}}
            </div>


    <!-- this will be filled in on the client side when we render our AJAX data -->
   
        

</section>
    </div>
</div>