<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <title>Volcanic Explosivity Index (VEI) - An Interactive Infographic</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="mx-auto mt-5 d-block col-sm-12 col-md-12 col-lg-8 col-offset-2 header">
                <h1 class="display-8">Volcanic Explosivity Index</h1>
                <p class="mt-2 col-sm-12 mx-auto">Volcanic Explosivity Index (VEI) is a numeric scale that measures the relative explosivity of historic eruptions. Volume of products, eruption cloud height, and qualitative observations (using terms ranging from "gentle" to "mega-colossal") are used to determine the explosivity value.</p>
                    <span>Click any of the index to learn more about each volcanic eruption in history</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
             <main>
                {{{ body }}}
            </main>
        </div>
    </div>

<script type="module" src="js/main.js"></script>
</body>

<footer class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <span>Sources: </span>
            <a href="https://en.m.wikipedia.org/wiki/List_of_volcanic_eruptions_by_death_toll"><img src="images/wiki_logo.png" alt="Wikipedia Logo" class="wiki"></a>
            <a href="http://volcano.oregonstate.edu/how-big-are-eruptions"><img src="images/osu_logo.png" alt="OSU Logo" class="osu"></a>
            <a href="https://volcanoes.usgs.gov/vsc/glossary/vei.html"><img src="images/usgs_logo.png" alt="USGS Logo" class="usgs"></a>
            <a href="https://www.nytimes.com/2019/08/21/opinion/supervolcano-yellowstone.html"><img src="images/nyt_logo.png" alt="New York Times Logo" class="nyt"></a>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>