.lightbox {
    top: 0;
    position: relative;
    display: block;
    text-align: center !important;
    overflow: visible;
}


.lightbox h5, p{
    text-align: left;
}

.lightbox span{
    text-align: center;
    margin: 0 auto;
    margin-left: 20px;
}

#v0{
    margin-top:-200px;
}


